import os
from dotenv import load_dotenv

load_dotenv()


class Settings:

    # ==========================
    # Groq LLM
    # ==========================

    GROQ_API_KEY = os.getenv("GROQ_API_KEY")
    GROQ_BASE_URL = os.getenv(
        "GROQ_BASE_URL",
        "https://api.groq.com/openai/v1"
    )

    GROQ_MODEL = os.getenv(
        "GROQ_MODEL",
        "openai/gpt-oss-20b"
    )


    # ==========================
    # Web Search
    # ==========================

    TAVILY_API_KEY = os.getenv(
        "TAVILY_API_KEY"
    )


    # ==========================
    # OpenStreetMap
    # ==========================

    OSM_OVERPASS_URL = os.getenv(
        "OSM_OVERPASS_URL",
        "https://overpass-api.de/api/interpreter"
    )


    OSM_NOMINATIM_URL = os.getenv(
        "OSM_NOMINATIM_URL",
        "https://nominatim.openstreetmap.org"
    )


    # ==========================
    # Routing
    # ==========================

    OSRM_BASE_URL = os.getenv(
        "OSRM_BASE_URL",
        "https://router.project-osrm.org"
    )


    # ==========================
    # Weather
    # ==========================

    WEATHER_API_URL = os.getenv(
        "WEATHER_API_URL",
        "https://api.open-meteo.com/v1/forecast"
    )

    GEOCODING_API_URL = os.getenv(
        "GEOCODING_API_URL",
        "https://geocoding-api.open-meteo.com/v1/search"
    )


    # ==========================
    # Currency
    # ==========================

    CURRENCY_API_URL = os.getenv(
        "CURRENCY_API_URL",
        "https://api.frankfurter.app"
    )